@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-3xl);
  }

  h2 {
    font-size: var(--text-xl);
  }

  a {
    @apply text-blue-500;
  }

  a:hover {
    @apply text-blue-700;
    @apply underline;
  }
}
