<main class="container mx-auto mt-18 px-5">
  <div class="flex mb-4 mt-6">
    <%= render 'shared/navigation' %>

    <div class="flex-1 min-w-60 text-center"">
      <h1>Offline cached 🛟</h1>
      <p class="ml-auto mr-auto max-w-140">
        This page is cached for offline viewing but only once accessed online
      </p>
    </div>
  </div>
</main>
