<main class="container mx-auto mt-18 px-5">
  <div class="flex mb-4 mt-6">
    <%= render 'shared/navigation' %>

    <div class="flex-1 min-w-60 text-center"">
      <h1>Offline cached 🛟</h1>
      <p class="ml-auto mr-auto max-w-140">
        This page is cached for offline viewing but only once it has been accessed online
      </p>
      <p class="mt-6 ml-auto mr-auto max-w-140">
        This is done using Google Workbox's
        <a href="https://developer.chrome.com/docs/workbox/modules/workbox-strategies#network_first_network_falling_back_to_cache" target="_blank">
          network first strategy
        </a>
      </p>
    </div>
  </div>
</main>
