<main class="container mx-auto mt-18 px-5">
  <div class="flex mb-4 mt-6">
    <%= render 'shared/navigation' %>

    <div class="flex-1 text-center">
      <h1>Online only with fallback 🛜</h1>
      <p class="ml-auto mr-auto max-w-140">
        This page is never cached and shows a fallback when offline
      </p>
    </div>
  </div>
</main>
