<main class="container mx-auto mt-18 px-5">
  <div class="flex mb-4 mt-6">
    <%= render 'shared/navigation' %>

    <div class="flex-1 min-w-60 text-center">
      <h1>Warm cached ☀️</h1>
      <p class="ml-auto mr-auto max-w-140">
        This page is cached as soon as the service worker is installed and
        even if it is never accessed online, it can always be viewed offline
      </p>
      <p class="mt-6 ml-auto mr-auto max-w-140">
        This is done using Google Workbox's
        <a href="https://developer.chrome.com/docs/workbox/modules/workbox-recipes#warm_strategy_cache" target="_blank">
          warm strategy recipe
        </>
      </p>
    </div>
  </div>
</main>
